mixin menu()
	nav.menu
		a(href="#" title="").menu__item.menu__item--category
		a(href="#" title="").menu__item.menu__item--search
		a(href="#" title="").menu__item.menu__item--favorite
		a(href="#" title="").menu__item.menu__item--best
		a(href="#" title="").menu__item.menu__item--date
		a(href="#" title="").menu__item.menu__item--movie
		a(href="#" title="").menu__item.menu__item--settings