mixin footer(data)
	footer.footer
		.footer__text Стоимость СТОИМОСТЬ И ПЕРИОД с основного/контентного счета МТС+7XXXXXXXX. Нажатием кнопки «Получить доступ » вы осуществляете заказ доступа к услуге «НАИМЕНОВАНИЕКОНТЕНТА», подтверждаете ознакомление и согласие с условиями его предоставления, Порядком предоставления контентных услуг ОАО «МТС», правилами оказания услуги контент-провайдером НАИМЕНОВАНИЕКП. Оказывается МТС с привлечением: НАИМЕНОВАНИЕ КП.
	//- Main scripts. You can replace it, but I recommend you to leave it here
	script(src='http://yastatic.net/jquery/1.11.2/jquery.min.js')
	script(src='%=staticPrefix=%js/main%=hash=%%=min=%.js')