.simillar-videos {
	display: flex;

	margin-top: 10px;
	padding: 10px;

	background: #3d3d3d;

	align-items: center;
	@extend .wrapper;
	justify-content: space-between;
	&__item {
		text-decoration: none;

		line-height: 0;
	}
}
